@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #000000;
  --color-primary-tint: #7d7d7d;
  --color-secondary: #ffffff;
  --color-secondary-tint: #8b8b8b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ffffff;
    --color-primary-tint: #8b8b8b;
    --color-secondary: #000000;
    --color-secondary-tint: #2d2d2d;
  }
}

body {
  color: var(--color-primary);
  background: var(--color-secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
